<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .navbar
        {
            margin-bottom: 20px;
        }
        body
        {
          background-color:white;
        }
        .main
        {
          border-radius: 113px 10px 140px 10px;
        }
        .jumbotron
        {
          background-color:white;
        }
        .c
        {
          border-radius: 1px 42px 1px 42px;
          background-color: rgb(255, 255, 255);
          box-shadow:2px 2px 15px 0 rgba(46,61,73,.4);
        }
        .post:hover
        {
           width:600px;
        }
        .card:hover
        {
          filter:blur(0px);
          transform:scale(1.1);
          opacity: 1;
        }
        .card
        {
          transition: 0.5s;
        }
    </style>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>
    <nav  style="box-shadow:2px 2px 15px 0 rgba(46,61,73,.4)" class="navbar navbar-expand-sm navbar-dark bg-primary sticky-top">
        <div class="container">
        <a class="navbar-brand" href="/">Insta</a>
        <%if(cuser!=undefined){%>
          <form style="float: left;" class="form-inline" method="POST" action="/searchuser">
            <div class="d-flex justify-content-around">
              <input style="width:133px" class="form-control" type="text" name="username" placeholder="search user">
            <button class="btn btn-warning"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
              <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
            </svg></button>
            </div>
          </form>
          <%}%>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <%if(cuser==undefined){%>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item"><a class='nav-link' href="/signin">Signup</a></li>
            <%}else{%>
              <li class="nav-item"><a class="nav-link"><%=cuser.username%></a></li>
              <li class="nav-item"><a href="#" class="nav-link but">Users</a></li>
              <li class="nav-item"><a class="nav-link" href="/friends/<%=cuser._id%>">Friends</a></li>
                <li class="nav-item"><a class="nav-link" href="/posts/<%=cuser._id%>">Posts</a></li>
                <li class="nav-item"><a class="nav-link" href="/seenotification/<%=cuser._id%>">Notifications(<%=cuser.notification.length%>)</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <%}%>
          </ul>
        </div>
    </div>
      </nav>