<%-include('../partials/header')%>
<div class="container">
<div class="row">
<%user.notification.forEach(function(noti){%>
    <div class="col-lg-6">
        <div class="jumbotron" style="border-radius: 10px;box-shadow:2px 2px 15px 0 rgba(46,61,73,.4)">
<div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSGlQXWqbQZJOfxE7MtMvIs9--VPgCp-dHPGA&usqp=CAU" style=" float:right; width: 17%;
border-radius: 50%;margin-right: 12%;">
            <div> <strong><%=noti.user.username%></strong> sent you  friend request
                <div class="d-flex justify-content-around">
    <form method="POST" action="/accept/<%=noti.user._id%>/<%=noti._id%>">
        <button class="btn btn-success">Accept</button>
    </form>
    <form method="POST" action="/decline/<%=noti._id%>">
        <button class="btn btn-danger">Decline</button>
    </form>
    </div>
    </div>
</div>
</div>
</div>
<%})%>
</div>
</div>
<%-include('../partials/footer')%>